body{

    background: linear-gradient(lavender,lightblue,lightpink);
    background-repeat: no-repeat;
    background-attachment: fixed;
}

h1{
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color:darkslategrey
}
p{
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    font-size: 1em;
    font-weight: bold;


}
h2{
    font-family: 'Courier New', Courier, monospace;
    font-size: 1em;
    font-weight: bold;
    color:darkslateblue
    

}
ul{
    font-family: 'Courier New', Courier, monospace;
    font-size: 1em;
    font-weight: bold;
    color:darkolivegreen

}

img{

    width: 400px;

}

