body{

    background: linear-gradient(lavender,lightblue,lightpink);
    background-repeat: no-repeat;
    background-attachment: fixed;
}

h1{
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
p{
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    font-size: 1em;
    font-weight: bold;


}

img{

    width: 500px;

}

